<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-lazy-init="false" default-autowire="no"
	default-dependency-check="none">
	
	<!-- Beans -->
	<bean id="graphDbService" class="org.neo4j.kernel.EmbeddedGraphDatabase"
		destroy-method="shutdown">
		<constructor-arg index="0" value="Neo4j-DB\\kums-sns" />
	</bean>

	<bean id="baseNeoDBService" class="com.kurui.kums.commons.neo4j.BaseNeoDBServiceImp" />

	<!--Action -->

	<bean name="/agent/agentNeoList" class="com.kurui.kums.sns.agent.action.AgentNeoListAction"
		singleton="false" lazy-init="default" autowire="default"
		dependency-check="default">
		<property name="agentBiz">
			<ref bean="agentBiz" />
		</property>
		<property name="agentNeoBiz">
			<ref bean="agentNeoBiz" />
		</property>
	</bean>



	<bean name="agentNeoBiz" class="com.kurui.kums.sns.agent.biz.AgentNeoBizImp"
		singleton="false" lazy-init="default" autowire="default"
		dependency-check="default">
		<property name="agentDAO">
			<ref bean="agentDAO" />
		</property>
		<property name="agentNeoDAO">
			<ref bean="agentNeoDAO" />
		</property>
	</bean>
	<bean id="agentNeoDAO" class="com.kurui.kums.sns.agent.dao.AgentNeoDAOImp"
		lazy-init="default" autowire="default" dependency-check="default">
		<property name="graphDbService">
			<ref bean="graphDbService" />
		</property>
	</bean>
	
	<!-- Transactions -->
	<!-- <tx:annotation-driven /> 
	<bean id="neoTransactionManager"
		class="org.springframework.transaction.jta.JtaTransactionManager">
		<property name="transactionManager" ref="neo4jTransactionManagerService" />
		<property name="userTransaction" ref="neo4jUserTransactionService" />
	</bean>
	<bean id="neo4jTransactionManagerService" class="org.neo4j.kernel.impl.transaction.SpringTransactionManager" />
	<bean id="neo4jUserTransactionService" class="org.neo4j.kernel.impl.transaction.UserTransactionImpl">
		<constructor-arg index="0" ref="graphDbService" />
	</bean>
-->

</beans>