<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-lazy-init="false" default-autowire="no"
	default-dependency-check="none">
	<bean name="/finance/budgetList"
		class="com.kurui.kums.finance.action.BudgetListAction"
		singleton="false" lazy-init="default" autowire="default"
		dependency-check="default">
		<property name="budgetBiz">
			<ref bean="budgetBiz" />
		</property>
		<property name="budgetOrderBiz">
			<ref bean="budgetOrderBiz" />
		</property>
	</bean>

	<bean name="/finance/budget"
		class="com.kurui.kums.finance.action.BudgetAction" singleton="false"
		lazy-init="default" autowire="default" dependency-check="default">
		<property name="budgetBiz">
			<ref bean="budgetBiz" />
		</property>
		<property name="budgetOrderBiz">
			<ref bean="budgetOrderBiz" />
		</property>
	</bean>

	<bean name="/finance/budgetOrderList"
		class="com.kurui.kums.finance.action.BudgetOrderListAction"
		singleton="false" lazy-init="default" autowire="default"
		dependency-check="default">
		<property name="budgetBiz">
			<ref bean="budgetBiz" />
		</property>
		<property name="budgetOrderBiz">
			<ref bean="budgetOrderBiz" />
		</property>
	</bean>

	<bean name="/finance/budgetOrder"
		class="com.kurui.kums.finance.action.BudgetOrderAction"
		singleton="false" lazy-init="default" autowire="default"
		dependency-check="default">
		<property name="budgetBiz">
			<ref bean="budgetBiz" />
		</property>
		<property name="budgetOrderBiz">
			<ref bean="budgetOrderBiz" />
		</property>
	</bean>

	<!-- 订单 action  -->
	<bean name="/finance/financeOrderList"
		class="com.kurui.kums.finance.action.FinanceOrderListAction"
		singleton="false" lazy-init="default" autowire="default"
		dependency-check="default">
		<property name="financeOrderBiz">
			<ref bean="financeOrderBiz" />
		</property>
		<property name="reportBiz">
			<ref bean="reportBiz" />
		</property>
		<property name="dataTypeBiz">
			<ref bean="dataTypeBiz" />
		</property>
	</bean>

	<bean name="/finance/financeOrder"
		class="com.kurui.kums.finance.action.FinanceOrderAction"
		singleton="false" lazy-init="default" autowire="default"
		dependency-check="default">
		<property name="financeOrderBiz">
			<ref bean="financeOrderBiz" />
		</property>
	</bean>

	<bean name="/finance/orderDetailList"
		class="com.kurui.kums.finance.action.OrderDetailListAction"
		singleton="false" lazy-init="default" autowire="default"
		dependency-check="default">
		<property name="orderDetailBiz">
			<ref bean="orderDetailBiz" />
		</property>
	</bean>

	<bean name="/finance/orderDetail"
		class="com.kurui.kums.finance.action.OrderDetailAction"
		singleton="false" lazy-init="default" autowire="default"
		dependency-check="default">
		<property name="orderDetailBiz">
			<ref bean="orderDetailBiz" />
		</property>
	</bean>

	<bean name="/finance/statementList"
		class="com.kurui.kums.finance.action.StatementListAction"
		singleton="false" lazy-init="default" autowire="default"
		dependency-check="default">
		<property name="statementBiz">
			<ref bean="statementBiz" />
		</property>
		<property name="financeOrderBiz">
			<ref bean="financeOrderBiz" />
		</property>
	</bean>

	<bean name="/finance/statement"
		class="com.kurui.kums.finance.action.StatementAction"
		singleton="false" lazy-init="default" autowire="default"
		dependency-check="default">
		<property name="statementBiz">
			<ref bean="statementBiz" />
		</property>
		<property name="accountBiz">
			<ref bean="accountBiz" />
		</property>
		<property name="financeOrderBiz">
			<ref bean="financeOrderBiz" />
		</property>
		<property name="operateLogBiz">
			<ref bean="operateLogBiz" />
		</property>
		<property name="operateLogDetailBiz">
			<ref bean="operateLogDetailBiz" />
		</property>
	</bean>

	<!-- 佣金明细 action  -->
	<bean name="/finance/commissionList"
		class="com.kurui.kums.finance.action.CommissionListAction"
		singleton="false" lazy-init="default" autowire="default"
		dependency-check="default">
		<property name="commissionBiz">
			<ref bean="commissionBiz" />
		</property>
		<property name="financeOrderBiz">
			<ref bean="financeOrderBiz" />
		</property>
		<property name="agentBiz">
			<ref bean="agentBiz" />
		</property>
		<property name="saleEventBiz">
			<ref bean="saleEventBiz" />
		</property>
	</bean>

	<bean name="/finance/commission"
		class="com.kurui.kums.finance.action.CommissionAction"
		singleton="false" lazy-init="default" autowire="default"
		dependency-check="default">
		<property name="commissionBiz">
			<ref bean="commissionBiz" />
		</property>
		<property name="financeOrderBiz">
			<ref bean="financeOrderBiz" />
		</property>
		<property name="agentBiz">
			<ref bean="agentBiz" />
		</property>
		<property name="saleEventBiz">
			<ref bean="saleEventBiz" />
		</property>
	</bean>

	<!-- Dao 配置-->
	<!-- 订单表 dao、biz -->
	<bean id="financeOrderBiz"
		class="com.kurui.kums.finance.biz.FinanceOrderBizImp">
		<property name="financeOrderDAO">
			<ref bean="financeOrderDAO" />
		</property>
		<property name="orderDetailDAO">
			<ref bean="orderDetailDAO" />
		</property>
		<property name="agentDAO">
			<ref bean="agentDAO" />
		</property>
		<property name="statementDAO">
			<ref bean="statementDAO" />
		</property>
		<property name="noUtil">
			<ref bean="noUtil" />
		</property>
		<property name="operateLogDAO">
			<ref bean="operateLogDAO" />
		</property>
		<property name="operateLogDetailDAO">
			<ref bean="operateLogDetailDAO" />
		</property>
		<property name="platComAccountDAO">
			<ref bean="platComAccountDAO" />
		</property>
		<property name="platformDAO">
			<ref bean="platformDAO" />
		</property>
		<property name="companyDAO">
			<ref bean="companyDAO" />
		</property>
		<property name="accountDAO">
			<ref bean="accountDAO" />
		</property>
		<property name="dataTypeDAO">
			<ref bean="dataTypeDAO" />
		</property>
		<property name="productDAO">
			<ref bean="productDAO" />
		</property>
	</bean>

	<bean id="financeOrderDAO"
		class="com.kurui.kums.finance.dao.FinanceOrderDAOImp"
		lazy-init="default" autowire="default" dependency-check="default">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
		<property name="noUtil">
			<ref bean="noUtil" />
		</property>
	</bean>

	<bean id="statementBiz"
		class="com.kurui.kums.finance.biz.StatementBizImp">
		<property name="statementDAO">
			<ref bean="statementDAO" />
		</property>
		<property name="financeOrderDAO">
			<ref bean="financeOrderDAO" />
		</property>
	</bean>

	<bean id="statementDAO"
		class="com.kurui.kums.finance.dao.StatementDAOImp" lazy-init="default"
		autowire="default" dependency-check="default">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

	<bean id="orderDetailBiz"
		class="com.kurui.kums.finance.biz.OrderDetailBizImp">
		<property name="orderDetailDAO">
			<ref bean="orderDetailDAO" />
		</property>
	</bean>

	<bean id="orderDetailDAO"
		class="com.kurui.kums.finance.dao.OrderDetailDAOImp"
		lazy-init="default" autowire="default" dependency-check="default">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

	<!-- 佣金明细表 dao、biz -->
	<bean id="commissionBiz"
		class="com.kurui.kums.finance.biz.CommissionBizImp">
		<property name="commissionDAO">
			<ref bean="commissionDAO" />
		</property>
		<property name="financeOrderDAO">
			<ref bean="financeOrderDAO" />
		</property>
		<property name="agentDAO">
			<ref bean="agentDAO" />
		</property>
		<property name="agentRelationDAO">
			<ref bean="agentRelationDAO" />
		</property>
		<property name="saleEventDAO">
			<ref bean="saleEventDAO" />
		</property>
	</bean>
	<bean id="commissionDAO"
		class="com.kurui.kums.finance.dao.CommissionDAOImp"
		lazy-init="default" autowire="default" dependency-check="default">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

	<!-- 预算表 dao、biz -->

	<bean id="budgetBiz"
		class="com.kurui.kums.finance.biz.BudgetBizImp">
		<property name="budgetOrderDAO">
			<ref bean="budgetOrderDAO" />
		</property>
		<property name="budgetDAO">
			<ref bean="budgetDAO" />
		</property>
	</bean>
	<bean id="budgetDAO" class="com.kurui.kums.finance.dao.BudgetDAOImp"
		lazy-init="default" autowire="default" dependency-check="default">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
		<property name="noUtil">
			<ref bean="noUtil" />
		</property>
	</bean>

	<bean id="budgetOrderBiz"
		class="com.kurui.kums.finance.biz.BudgetOrderBizImp">
		<property name="budgetOrderDAO">
			<ref bean="budgetOrderDAO" />
		</property>
		<property name="budgetDAO">
			<ref bean="budgetDAO" />
		</property>
	</bean>
	<bean id="budgetOrderDAO"
		class="com.kurui.kums.finance.dao.BudgetOrderDAOImp"
		lazy-init="default" autowire="default" dependency-check="default">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
</beans>