<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-lazy-init="false" default-autowire="no"
	default-dependency-check="none">
		<bean id="neoDataSource" class="com.kurui.kums.commons.neo4j.NeoDataUtil" >
		<!-- neo4j   -->
		<property name="storeDir">
			<value>${neoStoreDir}</value>
		</property>
		<property name="username">
			<value>${neoUsername}</value>
		</property>
		<property name="password">
			<value>${neoPassword}</value>
		</property>
	</bean>
	
</beans>