<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-lazy-init="false" default-autowire="no"
	default-dependency-check="none">
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close" lazy-init="default" autowire="default"
		dependency-check="default">
		<!-- oracle 10g -->
		<property name="driverClassName">
			<value>${driverClassName}</value>
		</property>
		<property name="url">
			<value>${url}</value>
		</property>
		<property name="username">
			<value>${username}</value>
		</property>
		<property name="password">
			<value>${password}</value>
		</property>
		<property name="maxActive">
			<value>${maxActive}</value>
		</property>
		<property name="maxIdle">
			<value>${maxActive}</value>
		</property>
		<property name="maxWait">
			<value>${maxActive}</value>
		</property>
		<property name="defaultAutoCommit">
			<value>${defaultAutoCommit}</value>
		</property>
		<property name="removeAbandoned">
			<value>${removeAbandoned}</value>
		</property>
		<property name="removeAbandonedTimeout">
			<value>${removeAbandonedTimeout}</value>
		</property>
		<property name="logAbandoned">
			<value>${logAbandoned}</value>
		</property>
		<property name="validationQuery">
			<value>${validationQuery}</value>
		</property>
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean"
		lazy-init="default" autowire="default" dependency-check="default">
		<property name="dataSource">
			<ref local="dataSource" />
		</property>
		<property name="lobHandler" ref="lobHandler" />

		<!-- JBoss识别不了，怪哉 -->
		<!-- <property name="mappingLocations"> <list> <value>classpath*:_config/hbm/com/kurui/kums/**/*.hbm.xml</value> 
			</list> </property> -->

		<property name="mappingResources">
			<list>
				<value>com/kurui/kums/agent/Agent.hbm.xml</value>
				<value>com/kurui/kums/agent/AgentAccount.hbm.xml</value>
				<value>com/kurui/kums/agent/AgentAction.hbm.xml</value>
				<value>com/kurui/kums/agent/AgentCoterie.hbm.xml</value>
				<value>com/kurui/kums/agent/AgentHabit.hbm.xml</value>
				<value>com/kurui/kums/agent/AgentRelation.hbm.xml</value>
				<value>com/kurui/kums/agent/Coterie.hbm.xml</value>
				<value>com/kurui/kums/agent/DirectLevel.hbm.xml</value>
				<value>com/kurui/kums/agent/ShareHolder.hbm.xml</value>
				<value>com/kurui/kums/agent/Vehicle.hbm.xml</value>

				<value>com/kurui/kums/finance/Budget.hbm.xml</value>
				<value>com/kurui/kums/finance/BudgetOrder.hbm.xml</value>
				<value>com/kurui/kums/finance/Commission.hbm.xml</value>
				<value>com/kurui/kums/finance/FinanceOrder.hbm.xml</value>
				<value>com/kurui/kums/finance/OrderDetail.hbm.xml</value>
				<value>com/kurui/kums/finance/OrderGroup.hbm.xml</value>
				<value>com/kurui/kums/finance/Statement.hbm.xml</value>

				<value>com/kurui/kums/market/Apartment.hbm.xml</value>
				<value>com/kurui/kums/market/EstateDish.hbm.xml</value>
				<value>com/kurui/kums/market/PriceIndex.hbm.xml</value>
				<value>com/kurui/kums/market/PriceReference.hbm.xml</value>
				<value>com/kurui/kums/market/Product.hbm.xml</value>
				<value>com/kurui/kums/market/SaleEvent.hbm.xml</value>

				<value>com/kurui/kums/report/CashFlow.hbm.xml</value>
				<value>com/kurui/kums/report/CreditReport.hbm.xml</value>

				<value>com/kurui/kums/right/Role.hbm.xml</value>
				<value>com/kurui/kums/right/RoleRight.hbm.xml</value>
				<value>com/kurui/kums/right/SysUser.hbm.xml</value>
				<value>com/kurui/kums/right/UserRole.hbm.xml</value>

				<value>com/kurui/kums/system/LoginLog.hbm.xml</value>
				<value>com/kurui/kums/system/News.hbm.xml</value>
				<value>com/kurui/kums/system/No.hbm.xml</value>
				<value>com/kurui/kums/system/OperateLog.hbm.xml</value>
				<value>com/kurui/kums/system/OperateLogDetail.hbm.xml</value>

				<value>com/kurui/kums/transaction/Account.hbm.xml</value>
				<value>com/kurui/kums/transaction/AccountCheck.hbm.xml</value>
				<value>com/kurui/kums/transaction/Company.hbm.xml</value>
				<value>com/kurui/kums/transaction/CompanyAccount.hbm.xml</value>
				<value>com/kurui/kums/transaction/DataType.hbm.xml</value>
				<value>com/kurui/kums/transaction/PaymentTool.hbm.xml</value>
				<value>com/kurui/kums/transaction/PlatComAccount.hbm.xml</value>
				<value>com/kurui/kums/transaction/Platform.hbm.xml</value>
			</list>
		</property>


		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.OracleDialect</prop>
				<prop key="hibernate.connection.release_mode">auto</prop>
				<prop key="hibernate.show_sql">false</prop>
				<prop key="hibernate.cache.provider_class">net.sf.ehcache.hibernate.EhCacheProvider</prop>
				<prop key="hibernate.cache.use_query_cache">true</prop>
				<prop key="hibernate.jdbc.fetch_size">10</prop>
				<prop key="hibernate.query.factory_class">org.hibernate.hql.ast.ASTQueryTranslatorFactory</prop>
			</props>
		</property>
	</bean>

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager"
		lazy-init="default" autowire="default" dependency-check="default">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>


	<bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate"
		lazy-init="default" autowire="default" dependency-check="default">
		<property name="sessionFactory" ref="sessionFactory" />
		<property name="fetchSize" value="20" />
		<property name="cacheQueries">
			<value>true</value>
		</property>
	</bean>

	<bean id="lobHandler" class="org.springframework.jdbc.support.lob.DefaultLobHandler"
		lazy-init="true" />

	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:kums.properties</value>
				<value>classpath:kums-sns.properties</value>
			</list>
		</property>


	</bean>

	<bean id="transactionInterceptor"
		class="org.springframework.transaction.interceptor.TransactionInterceptor">
		<property name="transactionManager" ref="transactionManager" />
		<property name="transactionAttributes">
			<props>
				<prop key="*">PROPAGATION_REQUIRED</prop>
				<prop key="*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>

	<bean id="bizAOP"
		class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
		<property name="beanNames">
			<list>
				<value>*Biz</value>
			</list>
		</property>
		<property name="interceptorNames">
			<list>
				<value>transactionInterceptor</value>
			</list>
		</property>
	</bean>

	
</beans>