<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-lazy-init="false" default-autowire="no"
	default-dependency-check="none">
	<bean id="dBCHPool" class="com.kurui.kums.base.database.DBCHPool">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
	</bean>
	<bean id="noUtil" class="com.kurui.kums.base.util.KumsNoUtil">
		<property name="hibernateTemplate">
			<ref bean="hibernateTemplate" />
		</property>
	</bean>
	<bean id="theFilter"
		class="com.kurui.kums.base.filters.SetCharacterEncodingFilter">
		<property name="urls">
			<list>
				<value>/page/mainTitle.jsp</value>
			</list>
		</property>
	</bean>

	<bean id="KUMSconstant" class="com.kurui.kums.base.KumsConstant">
		<property name="url">
			<list>
				<value>message.*</value>
				<value>user.login</value>
				<value>newsList.listNotice</value>
			</list>
		</property>
	</bean>
	<bean id="SMUtil" class="com.kurui.kums.base.message.SMUtil">
		<property name="url">
			<value><![CDATA[http://chineseserver.net:3388/CellServer/SmsAPI2/SendMessage.jsp]]></value>
		</property>
		<property name="username">
			<value>7696</value>
		</property>
		<property name="password">
			<value>an654321</value>
		</property>
	</bean>

<!--  
	<bean id="taskJobScheduler"
		class="org.springframework.scheduling.quartz.SimpleTriggerBean">
		<property name="jobDetail">
			<ref bean="taskJob" />
		</property>
		<property name="startDelay">
			<value>1000</value>
			<description>延时1s 执行任务</description>
		</property>
		<property name="repeatInterval">
			<value>100000</value>
			<description>任务执行周期 10s </description>
		</property>
	</bean>

	<bean
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="autoStartup">
			<value>true</value>
		</property>

		<property name="triggers">
			<list>
				<ref bean="taskJobScheduler" />
			</list>
		</property>
	</bean>
	
	<bean id="taskJob"
		class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass">
		
			<value>com.kurui.kums.system.StatementTaskJob</value>
		</property>
		<property name="jobDataAsMap">
			<map>
				<entry key="statementBiz">
					<ref bean="statementBiz" />
				</entry>
			</map>
		</property>
	</bean>
	
	-->
</beans>