<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-lazy-init="false" default-autowire="no" default-dependency-check="none">

	<!--Action-->

	<bean name="/agent/agentList" class="com.kurui.kums.agent.action.AgentListAction" singleton="false" lazy-init="default" autowire="default"
		dependency-check="default">
		<property name="agentBiz">
			<ref bean="agentBiz" />
		</property>
		<property name="financeOrderBiz">
			<ref bean="financeOrderBiz" />
		</property>
	</bean>

	<bean name="/agent/agent" class="com.kurui.kums.agent.action.AgentAction" singleton="false" lazy-init="default" autowire="default"
		dependency-check="default">
		<property name="agentBiz">
			<ref bean="agentBiz" />
		</property>
		<property name="companyBiz">
			<ref bean="companyBiz" />
		</property>
		<property name="directLevelBiz">
			<ref bean="directLevelBiz" />
		</property>
		<property name="sysInitBiz">
			<ref bean="sysInitBiz" />
		</property>
		<property name="noUtil">
			<ref bean="noUtil" />
		</property>
	</bean>

	<bean name="/agent/agentAccountList" class="com.kurui.kums.agent.action.AgentAccountListAction" singleton="false" lazy-init="default"
		autowire="default" dependency-check="default">
		<property name="agentAccountBiz">
			<ref bean="agentAccountBiz" />
		</property>
		<property name="agentBiz">
			<ref bean="agentBiz" />
		</property>
		<property name="paymentToolBiz">
			<ref bean="paymentToolBiz" />
		</property>
	</bean>

	<bean name="/agent/agentAccount" class="com.kurui.kums.agent.action.AgentAccountAction" singleton="false" lazy-init="default" autowire="default"
		dependency-check="default">
		<property name="agentAccountBiz">
			<ref bean="agentAccountBiz" />
		</property>
		<property name="agentBiz">
			<ref bean="agentBiz" />
		</property>
		<property name="accountBiz">
			<ref bean="accountBiz" />
		</property>
		<property name="paymentToolBiz">
			<ref bean="paymentToolBiz" />
		</property>
		<property name="sysInitBiz">
			<ref bean="sysInitBiz" />
		</property>
	</bean>

	<bean name="/agent/shareHolderList" class="com.kurui.kums.agent.action.ShareHolderListAction" singleton="false" lazy-init="default"
		autowire="default" dependency-check="default">
		<property name="shareHolderBiz">
			<ref bean="shareHolderBiz" />
		</property>
		<property name="agentBiz">
			<ref bean="agentBiz" />
		</property>
		<property name="companyBiz">
			<ref bean="companyBiz" />
		</property>
	</bean>

	<bean name="/agent/shareHolder" class="com.kurui.kums.agent.action.ShareHolderAction" singleton="false" lazy-init="default" autowire="default"
		dependency-check="default">
		<property name="shareHolderBiz">
			<ref bean="shareHolderBiz" />
		</property>
		<property name="agentBiz">
			<ref bean="agentBiz" />
		</property>
		<property name="companyBiz">
			<ref bean="companyBiz" />
		</property>
	</bean>

	<bean name="/agent/agentHabitList" class="com.kurui.kums.agent.action.AgentHabitListAction" singleton="false" lazy-init="default"
		autowire="default" dependency-check="default">
		<property name="agentBiz">
			<ref bean="agentBiz" />
		</property>
		<property name="agentHabitBiz">
			<ref bean="agentHabitBiz" />
		</property>
	</bean>

	<bean name="/agent/agentHabit" class="com.kurui.kums.agent.action.AgentHabitAction" singleton="false" lazy-init="default" autowire="default"
		dependency-check="default">
		<property name="agentHabitBiz">
			<ref bean="agentHabitBiz" />
		</property>
		<property name="agentBiz">
			<ref bean="agentBiz" />
		</property>
	</bean>

	<bean name="/agent/vehicleList" class="com.kurui.kums.agent.action.VehicleListAction" singleton="false" lazy-init="default" autowire="default"
		dependency-check="default">
		<property name="agentBiz">
			<ref bean="agentBiz" />
		</property>
		<property name="vehicleBiz">
			<ref bean="vehicleBiz" />
		</property>
	</bean>

	<bean name="/agent/vehicle" class="com.kurui.kums.agent.action.VehicleAction" singleton="false" lazy-init="default" autowire="default"
		dependency-check="default">
		<property name="vehicleBiz">
			<ref bean="vehicleBiz" />
		</property>
		<property name="agentBiz">
			<ref bean="agentBiz" />
		</property>
	</bean>

	<bean name="/agent/agentCoterieList" class="com.kurui.kums.agent.action.AgentCoterieListAction" singleton="false" lazy-init="default"
		autowire="default" dependency-check="default">
		<property name="agentBiz">
			<ref bean="agentBiz" />
		</property>
		<property name="agentCoterieBiz">
			<ref bean="agentCoterieBiz" />
		</property>
		<property name="coterieBiz">
			<ref bean="coterieBiz" />
		</property>
	</bean>

	<bean name="/agent/agentCoterie" class="com.kurui.kums.agent.action.AgentCoterieAction" singleton="false" lazy-init="default" autowire="default"
		dependency-check="default">
		<property name="agentCoterieBiz">
			<ref bean="agentCoterieBiz" />
		</property>
		<property name="agentBiz">
			<ref bean="agentBiz" />
		</property>
		<property name="coterieBiz">
			<ref bean="coterieBiz" />
		</property>
	</bean>

	<bean name="/agent/coterieList" class="com.kurui.kums.agent.action.CoterieListAction" singleton="false" lazy-init="default" autowire="default"
		dependency-check="default">
		<property name="agentBiz">
			<ref bean="agentBiz" />
		</property>
		<property name="coterieBiz">
			<ref bean="coterieBiz" />
		</property>
	</bean>

	<bean name="/agent/coterie" class="com.kurui.kums.agent.action.CoterieAction" singleton="false" lazy-init="default" autowire="default"
		dependency-check="default">
		<property name="coterieBiz">
			<ref bean="coterieBiz" />
		</property>
		<property name="agentBiz">
			<ref bean="agentBiz" />
		</property>
	</bean>

	<bean name="/agent/agentActionList" class="com.kurui.kums.agent.action.AgentActionListAction" singleton="false" lazy-init="default"
		autowire="default" dependency-check="default">
		<property name="agentActionBiz">
			<ref bean="agentActionBiz" />
		</property>
	</bean>

	<bean name="/agent/agentAction" class="com.kurui.kums.agent.action.AgentActionAction" singleton="false" lazy-init="default" autowire="default"
		dependency-check="default">
		<property name="agentActionBiz">
			<ref bean="agentActionBiz" />
		</property>
		<property name="agentBiz">
			<ref bean="agentBiz" />
		</property>
	</bean>

	<bean name="/agent/agentRelationList" class="com.kurui.kums.agent.action.AgentRelationListAction" singleton="false" lazy-init="default"
		autowire="default" dependency-check="default">
		<property name="agentRelationBiz">
			<ref bean="agentRelationBiz" />
		</property>
		<property name="agentBiz">
			<ref bean="agentBiz" />
		</property>
	</bean>

	<bean name="/agent/agentRelation" class="com.kurui.kums.agent.action.AgentRelationAction" singleton="false" lazy-init="default" autowire="default"
		dependency-check="default">
		<property name="agentRelationBiz">
			<ref bean="agentRelationBiz" />
		</property>
		<property name="agentBiz">
			<ref bean="agentBiz" />
		</property>
	</bean>

	<bean name="/agent/directLevelList" class="com.kurui.kums.agent.action.DirectLevelListAction" singleton="false" lazy-init="default"
		autowire="default" dependency-check="default">
		<property name="directLevelBiz">
			<ref bean="directLevelBiz" />
		</property>
	</bean>

	<bean name="/agent/directLevel" class="com.kurui.kums.agent.action.DirectLevelAction" singleton="false" lazy-init="default" autowire="default"
		dependency-check="default">
		<property name="directLevelBiz">
			<ref bean="directLevelBiz" />
		</property>
	</bean>
	<!--
		/////////////////////////Biz、Dao//////////////////////////////////
	-->

	<bean name="agentBiz" class="com.kurui.kums.agent.biz.AgentBizImp" singleton="false" lazy-init="default" autowire="default"
		dependency-check="default">
		<property name="agentDAO">
			<ref bean="agentDAO" />
		</property>
		<property name="areaCodeDAO">
			<ref bean="areaCodeDAO"/>
		</property>
	</bean>

	<bean id="agentDAO" class="com.kurui.kums.agent.dao.AgentDAOImp" lazy-init="default" autowire="default" dependency-check="default">
		<property name="hibernateTemplate" ref="hibernateTemplate" />

	</bean>

	<bean name="agentAccountBiz" class="com.kurui.kums.agent.biz.AgentAccountBizImp" singleton="false" lazy-init="default" autowire="default"
		dependency-check="default">
		<property name="agentAccountDAO">
			<ref bean="agentAccountDAO" />
		</property>
	</bean>
	<bean id="agentAccountDAO" class="com.kurui.kums.agent.dao.AgentAccountDAOImp" lazy-init="default" autowire="default"
		dependency-check="default">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>

	<bean name="shareHolderBiz" class="com.kurui.kums.agent.biz.ShareHolderBizImp" singleton="false" lazy-init="default" autowire="default"
		dependency-check="default">
		<property name="shareHolderDAO">
			<ref bean="shareHolderDAO" />
		</property>
	</bean>
	<bean id="shareHolderDAO" class="com.kurui.kums.agent.dao.ShareHolderDAOImp" lazy-init="default" autowire="default" dependency-check="default">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>

	<bean name="agentActionBiz" class="com.kurui.kums.agent.biz.AgentActionBizImp" singleton="false" lazy-init="default" autowire="default"
		dependency-check="default">
		<property name="agentActionDAO">
			<ref bean="agentActionDAO" />
		</property>
	</bean>
	<bean id="agentActionDAO" class="com.kurui.kums.agent.dao.AgentActionDAOImp" lazy-init="default" autowire="default" dependency-check="default">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>

	<bean name="agentHabitBiz" class="com.kurui.kums.agent.biz.AgentHabitBizImp" singleton="false" lazy-init="default" autowire="default"
		dependency-check="default">
		<property name="agentHabitDAO">
			<ref bean="agentHabitDAO" />
		</property>
	</bean>
	<bean id="agentHabitDAO" class="com.kurui.kums.agent.dao.AgentHabitDAOImp" lazy-init="default" autowire="default" dependency-check="default">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>

	<bean name="vehicleBiz" class="com.kurui.kums.agent.biz.VehicleBizImp" singleton="false" lazy-init="default" autowire="default"
		dependency-check="default">
		<property name="vehicleDAO">
			<ref bean="vehicleDAO" />
		</property>
	</bean>
	<bean id="vehicleDAO" class="com.kurui.kums.agent.dao.VehicleDAOImp" lazy-init="default" autowire="default" dependency-check="default">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>

	<bean name="agentCoterieBiz" class="com.kurui.kums.agent.biz.AgentCoterieBizImp" singleton="false" lazy-init="default" autowire="default"
		dependency-check="default">
		<property name="agentCoterieDAO">
			<ref bean="agentCoterieDAO" />
		</property>
	</bean>
	<bean id="agentCoterieDAO" class="com.kurui.kums.agent.dao.AgentCoterieDAOImp" lazy-init="default" autowire="default"
		dependency-check="default">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>

	<bean name="coterieBiz" class="com.kurui.kums.agent.biz.CoterieBizImp" singleton="false" lazy-init="default" autowire="default"
		dependency-check="default">
		<property name="coterieDAO">
			<ref bean="coterieDAO" />
		</property>
	</bean>
	<bean id="coterieDAO" class="com.kurui.kums.agent.dao.CoterieDAOImp" lazy-init="default" autowire="default" dependency-check="default">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>

	<bean name="agentRelationBiz" class="com.kurui.kums.agent.biz.AgentRelationBizImp" singleton="false" lazy-init="default" autowire="default"
		dependency-check="default">
		<property name="agentRelationDAO">
			<ref bean="agentRelationDAO" />
		</property>
		<property name="agentDAO">
			<ref bean="agentDAO" />
		</property>
	</bean>
	<bean id="agentRelationDAO" class="com.kurui.kums.agent.dao.AgentRelationDAOImp" lazy-init="default" autowire="default"
		dependency-check="default">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
		<property name="agentDAO">
			<ref bean="agentDAO" />
		</property>
	</bean>

	<bean name="directLevelBiz" class="com.kurui.kums.agent.biz.DirectLevelBizImp" singleton="false" lazy-init="default" autowire="default"
		dependency-check="default">
		<property name="directLevelDAO">
			<ref bean="directLevelDAO" />
		</property>
	</bean>
	<bean id="directLevelDAO" class="com.kurui.kums.agent.dao.DirectLevelDAOImp" lazy-init="default" autowire="default" dependency-check="default">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>


</beans>