<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-lazy-init="false" default-autowire="no"
	default-dependency-check="none">

	<!-- 数据类型 action  -->
	<bean name="/transaction/dataTypeList"
		class="com.kurui.kums.transaction.action.DataTypeListAction"
		singleton="false" lazy-init="default" autowire="default"
		dependency-check="default">
		<property name="dataTypeBiz">
			<ref bean="dataTypeBiz" />
		</property>
	</bean>

	<bean name="/transaction/dataType"
		class="com.kurui.kums.transaction.action.DataTypeAction"
		singleton="false" lazy-init="default" autowire="default"
		dependency-check="default">
		<property name="dataTypeBiz">
			<ref bean="dataTypeBiz" />
		</property>
		<property name="sysInitBiz">
			<ref bean="sysInitBiz" />
		</property>
	</bean>

	<!--Action-->
	<bean name="/transaction/paymentToolList"
		class="com.kurui.kums.transaction.action.PaymentToolListAction"
		singleton="false" lazy-init="default" autowire="default"
		dependency-check="default">
		<property name="paymentToolBiz">
			<ref bean="paymentToolBiz" />
		</property>
	</bean>

	<bean name="/transaction/paymentTool"
		class="com.kurui.kums.transaction.action.PaymentToolAction"
		singleton="false" lazy-init="default" autowire="default"
		dependency-check="default">
		<property name="paymentToolBiz">
			<ref bean="paymentToolBiz" />
		</property>
		<property name="sysInitBiz">
			<ref bean="sysInitBiz" />
		</property>
	</bean>

	<bean name="/transaction/accountList"
		class="com.kurui.kums.transaction.action.AccountListAction"
		singleton="false" lazy-init="default" autowire="default"
		dependency-check="default">
		<property name="accountBiz">
			<ref bean="accountBiz" />
		</property>
		<property name="paymentToolBiz">
			<ref bean="paymentToolBiz" />
		</property>
	</bean>

	<bean name="/transaction/account"
		class="com.kurui.kums.transaction.action.AccountAction"
		singleton="false" lazy-init="default" autowire="default"
		dependency-check="default">
		<property name="accountBiz">
			<ref bean="accountBiz" />
		</property>
		<property name="paymentToolBiz">
			<ref bean="paymentToolBiz" />
		</property>
		<property name="sysInitBiz">
			<ref bean="sysInitBiz" />
		</property>
	</bean>

	<bean name="/transaction/accountCheckList"
		class="com.kurui.kums.transaction.action.AccountCheckListAction"
		singleton="false" lazy-init="default" autowire="default"
		dependency-check="default">
		<property name="accountBiz">
			<ref bean="accountBiz" />
		</property>
		<property name="accountCheckBiz">
			<ref bean="accountCheckBiz" />
		</property>
	</bean>

	<bean name="/transaction/accountCheck"
		class="com.kurui.kums.transaction.action.AccountCheckAction"
		singleton="false" lazy-init="default" autowire="default"
		dependency-check="default">
		<property name="accountBiz">
			<ref bean="accountBiz" />
		</property>
		<property name="accountCheckBiz">
			<ref bean="accountCheckBiz" />
		</property>
		<property name="userBiz">
			<ref bean="userBiz" />
		</property>
	</bean>

	<bean name="/transaction/companyList"
		class="com.kurui.kums.transaction.action.CompanyListAction"
		singleton="false" lazy-init="default" autowire="default"
		dependency-check="default">
		<property name="companyBiz">
			<ref bean="companyBiz" />
		</property>
	</bean>

	<bean name="/transaction/company"
		class="com.kurui.kums.transaction.action.CompanyAction"
		singleton="false" lazy-init="default" autowire="default"
		dependency-check="default">
		<property name="companyBiz">
			<ref bean="companyBiz" />
		</property>
		<property name="sysInitBiz">
			<ref bean="sysInitBiz" />
		</property>
	</bean>

	<bean name="/transaction/companyAccountList"
		class="com.kurui.kums.transaction.action.CompanyAccountListAction"
		singleton="false" lazy-init="default" autowire="default"
		dependency-check="default">
		<property name="companyAccountBiz">
			<ref bean="companyAccountBiz" />
		</property>
		<property name="companyBiz">
			<ref bean="companyBiz" />
		</property>
		<property name="paymentToolBiz">
			<ref bean="paymentToolBiz" />
		</property>
	</bean>

	<bean name="/transaction/companyAccount"
		class="com.kurui.kums.transaction.action.CompanyAccountAction"
		singleton="false" lazy-init="default" autowire="default"
		dependency-check="default">
		<property name="companyAccountBiz">
			<ref bean="companyAccountBiz" />
		</property>
		<property name="companyBiz">
			<ref bean="companyBiz" />
		</property>
		<property name="accountBiz">
			<ref bean="accountBiz" />
		</property>
		<property name="paymentToolBiz">
			<ref bean="paymentToolBiz" />
		</property>
		<property name="sysInitBiz">
			<ref bean="sysInitBiz" />
		</property>
	</bean>

	<bean name="/transaction/platformList"
		class="com.kurui.kums.transaction.action.PlatformListAction"
		singleton="false" lazy-init="default" autowire="default"
		dependency-check="default">
		<property name="platformBiz">
			<ref bean="platformBiz" />
		</property>
	</bean>

	<bean name="/transaction/platform"
		class="com.kurui.kums.transaction.action.PlatformAction"
		singleton="false" lazy-init="default" autowire="default"
		dependency-check="default">
		<property name="platformBiz">
			<ref bean="platformBiz" />
		</property>
		<property name="sysInitBiz">
			<ref bean="sysInitBiz" />
		</property>
	</bean>

	<bean name="/transaction/platComAccountList"
		class="com.kurui.kums.transaction.action.PlatComAccountListAction"
		singleton="false" lazy-init="default" autowire="default"
		dependency-check="default">
		<property name="platComAccountBiz">
			<ref bean="platComAccountBiz" />
		</property>
	</bean>

	<bean name="/transaction/platComAccount"
		class="com.kurui.kums.transaction.action.PlatComAccountAction"
		singleton="false" lazy-init="default" autowire="default"
		dependency-check="default">
		<property name="platComAccountBiz">
			<ref bean="platComAccountBiz" />
		</property>
		<property name="companyBiz">
			<ref bean="companyBiz" />
		</property>
		<property name="platformBiz">
			<ref bean="platformBiz" />
		</property>
		<property name="accountBiz">
			<ref bean="accountBiz" />
		</property>
		<property name="sysInitBiz">
			<ref bean="sysInitBiz" />
		</property>
	</bean>

	<!--
		/////////////////////////Biz、Dao//////////////////////////////////
	-->
	<!-- 数据类型表 dao、biz -->
	<bean id="dataTypeBiz"
		class="com.kurui.kums.transaction.biz.DataTypeBizImp">
		<property name="dataTypeDAO">
			<ref bean="dataTypeDAO" />
		</property>
	</bean>
	<bean id="dataTypeDAO"
		class="com.kurui.kums.transaction.dao.DataTypeDAOImp"
		lazy-init="default" autowire="default" dependency-check="default">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<bean id="areaCodeDAO"
		class="com.kurui.kums.transaction.dao.AreaCodeDAOImp"
		lazy-init="default" autowire="default" dependency-check="default">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

	<bean name="paymentToolBiz"
		class="com.kurui.kums.transaction.biz.PaymentToolBizImp"
		singleton="false" lazy-init="default" autowire="default"
		dependency-check="default">
		<property name="paymentToolDAO">
			<ref bean="paymentToolDAO" />
		</property>
	</bean>
	<bean id="paymentToolDAO"
		class="com.kurui.kums.transaction.dao.PaymentToolDAOImp"
		lazy-init="default" autowire="default" dependency-check="default">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>

	<bean name="accountBiz"
		class="com.kurui.kums.transaction.biz.AccountBizImp" singleton="false"
		lazy-init="default" autowire="default" dependency-check="default">
		<property name="accountDAO">
			<ref bean="accountDAO" />
		</property>
	</bean>
	<bean id="accountDAO"
		class="com.kurui.kums.transaction.dao.AccountDAOImp"
		lazy-init="default" autowire="default" dependency-check="default">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>

	<bean name="accountCheckBiz"
		class="com.kurui.kums.transaction.biz.AccountCheckBizImp"
		singleton="false" lazy-init="default" autowire="default"
		dependency-check="default">
		<property name="accountCheckDAO">
			<ref bean="accountCheckDAO" />
		</property>
	</bean>
	<bean id="accountCheckDAO"
		class="com.kurui.kums.transaction.dao.AccountCheckDAOImp"
		lazy-init="default" autowire="default" dependency-check="default">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>

	<bean name="companyBiz"
		class="com.kurui.kums.transaction.biz.CompanyBizImp" singleton="false"
		lazy-init="default" autowire="default" dependency-check="default">
		<property name="companyDAO">
			<ref bean="companyDAO" />
		</property>
	</bean>
	<bean id="companyDAO"
		class="com.kurui.kums.transaction.dao.CompanyDAOImp"
		lazy-init="default" autowire="default" dependency-check="default">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>

	<bean name="companyAccountBiz"
		class="com.kurui.kums.transaction.biz.CompanyAccountBizImp"
		singleton="false" lazy-init="default" autowire="default"
		dependency-check="default">
		<property name="companyAccountDAO">
			<ref bean="companyAccountDAO" />
		</property>
	</bean>
	<bean id="companyAccountDAO"
		class="com.kurui.kums.transaction.dao.CompanyAccountDAOImp"
		lazy-init="default" autowire="default" dependency-check="default">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>

	<bean name="platformBiz"
		class="com.kurui.kums.transaction.biz.PlatformBizImp"
		singleton="false" lazy-init="default" autowire="default"
		dependency-check="default">
		<property name="platformDAO">
			<ref bean="platformDAO" />
		</property>
	</bean>
	<bean id="platformDAO"
		class="com.kurui.kums.transaction.dao.PlatformDAOImp"
		lazy-init="default" autowire="default" dependency-check="default">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>

	<bean name="platComAccountBiz"
		class="com.kurui.kums.transaction.biz.PlatComAccountBizImp"
		singleton="false" lazy-init="default" autowire="default"
		dependency-check="default">
		<property name="platComAccountDAO">
			<ref bean="platComAccountDAO" />
		</property>
	</bean>

	<bean id="platComAccountDAO"
		class="com.kurui.kums.transaction.dao.PlatComAccountDAOImp"
		lazy-init="default" autowire="default" dependency-check="default">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>

	
</beans>