<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
	<display-name>酷睿天下集团信息平台</display-name>
	<description>酷睿天下集团信息平台</description>

	<filter>
		<filter-name>Set Character Encoding</filter-name>
		<filter-class>com.kurui.kums.base.filters.SetCharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>

	<filter>
		<filter-name>hibernateFilter</filter-name>
		<filter-class>org.springframework.orm.hibernate3.support.OpenSessionInViewFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>Set Character Encoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>hibernateFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>hibernateFilter</filter-name>
		<url-pattern>/dwr/*</url-pattern>
	</filter-mapping>

	<!-- Web容器启动执行 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<!--  
	<listener>
		<listener-class>com.kurui.kums.base.KumsContextListener</listener-class>
	</listener>
	-->

	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
		<init-param>
			<param-name>application</param-name>
			<param-value>ApplicationResources</param-value>
		</init-param>
		<init-param>
			<param-name>config</param-name>
			<param-value>
				/WEB-INF/struts-config.xml , /WEB-INF/struts-config-agent.xml, /WEB-INF/struts-config-agent-neo.xml, /WEB-INF/struts-config-system.xml ,
				/WEB-INF/struts-config-right.xml, /WEB-INF/struts-config-upload.xml
			</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>2</param-value>
		</init-param>
		<init-param>
			<param-name>detail</param-name>
			<param-value>2</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>in</servlet-name>
		<servlet-class>com.kurui.kums.base.TimestampInit</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>rand</servlet-name>
		<servlet-class>com.kurui.kums.base.file.NumberImage</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>imageshow</servlet-name>
		<servlet-class>com.kurui.kums.base.file.ImageShowServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>dwr</servlet-name>
		<servlet-class>org.directwebremoting.servlet.DwrServlet</servlet-class>
		<init-param>
			<param-name>debug</param-name>
			<param-value>false</param-value>
		</init-param>
	</servlet>

	<servlet>
		<servlet-name>DisplayChart</servlet-name>
		<servlet-class>org.jfree.chart.servlet.DisplayChart</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DisplayChart</servlet-name>
		<url-pattern>/servlet/DisplayChart</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>rand</servlet-name>
		<url-pattern>/servlet/com.kurui.kums.base.file.NumberImage</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>imageshow</servlet-name>
		<url-pattern>/servlet/ImageShowServlet</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>dwr</servlet-name>
		<url-pattern>/dwr/*</url-pattern>
	</servlet-mapping>

	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<taglib>
		<taglib-uri>/WEB-INF/tld/struts-html.tld</taglib-uri>
		<taglib-location>/WEB-INF/tld/struts-html-el.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/WEB-INF/tld/c.tld</taglib-uri>
		<taglib-location>/WEB-INF/tld/c.tld</taglib-location>
	</taglib>

	<taglib>
		<taglib-uri>/WEB-INF/tld/neza.tld</taglib-uri>
		<taglib-location>/WEB-INF/tld/neza.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/WEB-INF/tld/fmt.tld</taglib-uri>
		<taglib-location>/WEB-INF/tld/fmt.tld</taglib-location>
	</taglib>

	<taglib>
		<taglib-uri>/WEB-INF/tld/taglibs-string.tld</taglib-uri>
		<taglib-location>/WEB-INF/tld/taglibs-string.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/WEB-INF/tld/taglibs-datetime.tld</taglib-uri>
		<taglib-location>/WEB-INF/tld/taglibs-datetime.tld</taglib-location>
	</taglib>
	<login-config>
		<auth-method>BASIC</auth-method>
	</login-config>
</web-app>
